@model ProjetoSocialSolutions.Models.ViewModel.ClientesFormViewModel
@using ProjetoSocialSolutions.Enums

@{
    ViewData["Title"] = "Create";
}

<style>
    h4 {margin-top:30px;}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clientes.Name" class="control-label"></label>
                <input type="text" asp-for="Clientes.Name" class="form-control" />
                <span asp-validation-for="Clientes.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clientes.Email" class="control-label"></label>
                <input type="email" asp-for="Clientes.Email" class="form-control" />
                <span asp-validation-for="Clientes.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clientes.Cpf" class="control-label"></label>
                <input type="text" asp-for="Clientes.Cpf" class="cpf form-control" maxlength="14" />
                <span asp-validation-for="Clientes.Cpf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clientes.ImovelId" class="control-label"> Selecione o Imóvel</label>
                <select asp-for="Clientes.ImovelId" asp-items="@(new SelectList(Model.Imovels,"ImovelId","Descricao"))" class="form-control"></select>
                <span asp-validation-for="Clientes.ImovelId" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="Clientes.Status" class="control-label"></label>
                 <select asp-for="@Model.Clientes.Status" asp-items="Html.GetEnumSelectList<StatusClientes>()"class="form-control"> </select>
            <span asp-validation-for="Clientes.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

<script>

    $(document).ready(function() {
       $('.cpf').mask('000.000.000-00');
    });



</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
