@{
    ViewData["Title"] = "Home Page";
}

<style>

    .text-center {
       
        margin-top: 20px;
    }
    h1 {
        font-size: 40px;
    }

</style>

<div class="text-center">
    <h1>Projeto Social Solutions</h1>
    <p >Projeto desenvolvido para avaliação de conhecimentos em ASP.NET MVC</p>
</div>
